[Unit]
Description=XanhNow Auth Login API
After=network-online.target xanhnow-auth-login-vault-agent.service
Wants=network-online.target xanhnow-auth-login-vault-agent.service

[Service]
Type=simple
User=xanhnow
Group=xanhnow
WorkingDirectory=/srv/xanhnow/apps/auth-login/current
ExecStart=/usr/bin/dotnet /srv/xanhnow/apps/auth-login/current/XanhNow.Auth.Login.Api.dll
Restart=always
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=xanhnow-auth-login
Environment=DOTNET_ENVIRONMENT=Production
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:8080
Environment=Infrastructure__Mode=RedisVault
Environment=RuntimeSecrets__PostgresConnectionStringFile=/srv/xanhnow/s101/secrets/auth-login/postgres-connection-string
Environment=RuntimeSecrets__RedisPasswordFile=/srv/xanhnow/s101/secrets/auth-login/redis-password
Environment=RuntimeSecrets__RedisTlsEnabledFile=/srv/xanhnow/s101/secrets/auth-login/redis-tls-enabled
Environment=RuntimeSecrets__PasswordPepperFile=/srv/xanhnow/s101/secrets/auth-login/password-pepper
Environment=RuntimeSecrets__PasswordPepperVersionFile=/srv/xanhnow/s101/secrets/auth-login/password-pepper-version
Environment=RuntimeSecrets__PasswordAlgorithmFile=/srv/xanhnow/s101/secrets/auth-login/password-algorithm
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
